form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

form fieldset {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

form>div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

form>div>button {
  margin: 10px 0px;
}

.img_container {

  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}

.col-3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}